<ion-view title="Levels" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <div class="status-bar" style="display:block;">
            <div style="display:block; clear:both;">
                <div class="forastero" style="float:left; width:25%">
                    <p>Level 1</p>
                    <p>0-5000 pts</p>
                </div>
                <div style="float:right; width:75%; padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div style="display: block; clear:both;">
                <div class="trinitario" style="float:left; width:25%">
                    <p>Level 2</p>
                    <p>&gt;5000 pts</p>
                </div>
                <div style="float:right; width:75%; padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div style="display: block; clear:both;">
                <div class="Criollo" style="float:left; width:25%">
                    <p>Level 3</p>
                    <p>&gt;10000 pts</p>
                </div>
                <div style="float:right; width:75%; padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br/>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <!--<div class="list list-inset">

            <p>How can we help you?</p>

            <div class="item item-body">
                <textarea placeholder="Description" ng-model="case.description" rows="10"></textarea>
            </div>

            <button class="button button-block button-light" ng-click="submit()">
                Submit
            </button>

            <p><strong>{{status}}</strong></p>

        </div>-->

        <!-- Enable for SOS button 
        <div class="text-align:center">
            <button class="button icon ion-help-buoy sos-button" ng-click="sos()">&nbsp;S.O.S</button>
        </div>
        -->

    </ion-content>

</ion-view>