<ion-view title="Special offers" class="card-bg">

    <ion-content has-header="true" padding="true">

            <div class="item-thanks">
                <div class="item-thanks-header">
                    <h1 class="status{{user.status || 1}}">Accor thanks you<small>for this purchase</small></h1>
                </div>
            </div>
            <div class="item-thanks item-thanks-body">
                <div class="item-thanks-body-header">
                    <h2>DGJ Organics / Argan Oil Shampoo / 250ml</small></h2>
                </div>
                <!--<img class="full-image" ng-src="img/zull-wine-design.jpg">
                <p><strong>As the name already implies, our Lust & Laune Rosé offers pure pleasure. A cuvée consisting mainly of Zweigelt and Pinot Noir, it is widely versatile either as an accompaniment for snacks or as a liquid complement to relaxed discussions.</strong></p>
                <p>*Clear, lustrous pink-rosé, fine fragrance of fresh red fruits,  highlighted by subtle spicy nuances, in equal measure fresh  and fruity on the palate, altogether very well-rounded, lively  and exhilarating, offering immense drinking pleasure.</p>
                <p>*Excellent with snacks, but also goes superbly with salmon  and all that can be conjured up from it.</p>
                -->
                <img class="full-image" ng-src="img/shampoo.jpg">
                <p><strong>Our Argan Oil Shampoo will strengthen, repair, nourish and reduce frizz.</strong>
                    <p>This specially formulated Shampoo with Moroccan Organic Argan Oil and rich in vitamin E, is designed for coloured, over-processed or unmanageable hair damaged by heat styling. The nourishing ingredients and gentle formula cleanse away daily impurities, whilst restoring moisture and repairing hair from within.</p>
            </div>

    </ion-content>
</ion-view>
