<ion-view class="welcome" hide-nav-bar="true">

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <img src="css/img/logo.svg" style="width:75%; margin:0 auto; margin-top: 40%; display: block;"/>

            <div class="bottom">
                <a class="button button-stable" ui-sref="start.signup" style="width:70%;color:#0C3A83;padding-left:28px;padding-right:28px;">
                    Sign Up
                </a>
                <a class="button button-block button-clear" ui-sref="start.login">
                    Already registered?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>

        </div>

    </ion-content>

</ion-view>